@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css";
@import "nativewind/theme";

@theme {
  --color-primary-50: #eff6ff;
  --color-primary-100: #dbeafe;
  --color-primary-200: #bfdbfe;
  --color-primary-300: #93c5fd;
  --color-primary-400: #60a5fa;
  --color-primary-500: #3b82f6;
  --color-primary-600: #2563eb;
  --color-primary-700: #1d4ed8;
  --color-primary-800: #1e40af;
  --color-primary-900: #1e3a8a;
  --color-primary-950: #172554;

  --color-secondary-50: #f5f3ff;
  --color-secondary-100: #ede9fe;
  --color-secondary-200: #ddd6fe;
  --color-secondary-300: #c4b5fd;
  --color-secondary-400: #a78bfa;
  --color-secondary-500: #8b5cf6;
  --color-secondary-600: #7c3aed;
  --color-secondary-700: #6d28d9;
  --color-secondary-800: #5b21b6;
  --color-secondary-900: #4c1d95;
  --color-secondary-950: #2e1065;

  --color-muted-50: #ffffff;
  --color-muted-100: #f9fafb;
  --color-muted-200: #f3f4f6;
  --color-muted-300: #e5e7eb;
  --color-muted-400: #d1d5db;
  --color-muted-500: #9ca3af;
  --color-muted-600: #6b7280;
  --color-muted-700: #4b5563;
  --color-muted-800: #374151;
  --color-muted-900: #1f2937;
  --color-muted-950: #111827;
}

@utility bg-background {
  background-color: var(--color-background);
}

@utility text-background {
  color: var(--color-background);
}

@utility border-background {
  border-color: var(--color-background);
}

@utility bg-foreground {
  background-color: var(--color-foreground);
}

@utility text-foreground {
  color: var(--color-foreground);
}

@utility border-foreground {
  border-color: var(--color-foreground);
}

@utility bg-primary {
  background-color: var(--color-primary);
}

@utility text-primary {
  color: var(--color-primary);
}

@utility border-primary {
  border-color: var(--color-primary);
}

@utility bg-secondary {
  background-color: var(--color-secondary);
}

@utility text-secondary {
  color: var(--color-secondary);
}

@utility border-secondary {
  border-color: var(--color-secondary);
}

@utility bg-muted {
  background-color: var(--color-muted);
}

@utility text-muted {
  color: var(--color-muted);
}

@utility border-muted {
  border-color: var(--color-muted);
}
