@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css";
 
@import "nativewind/theme";


/* @media (prefers-color-scheme: dark) {
  @theme {
    --color-foreground: oklch(70.961% 0.29781 330.451);
    --color-background: oklch(70% 0 0);
  }
}

@media (prefers-color-scheme: light) {
  @theme {
    --color-foreground: oklch(0% 0 0);
    --color-background: oklch(100% 0 0);
  }
} */


@theme {
  /* sky as primary */
  --color-primary-50:  oklch(97.16% 0.015 244.62);
  --color-primary-100: oklch(93.99% 0.029 244.62);
  --color-primary-200: oklch(88.31% 0.054 244.62);
  --color-primary-300: oklch(79.79% 0.09 244.62);
  --color-primary-400: oklch(67.92% 0.138 244.62);
  --color-primary-500: oklch(52.7% 0.19 244.62);
  --color-primary-600: oklch(45.54% 0.199 244.62);
  --color-primary-700: oklch(38.01% 0.192 244.62);
  --color-primary-800: oklch(31.25% 0.165 244.62);
  --color-primary-900: oklch(26.24% 0.134 244.62);
  --color-primary-950: oklch(18.66% 0.097 244.62);

  /* --color-foreground: oklch(0% 0 0);
  --color-background: oklch(100% 0 0); */
}