@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css";
 
@import "nativewind/theme";


/* @media (prefers-color-scheme: dark) {
  @theme {
    --color-foreground: oklch(70.961% 0.29781 330.451);
    --color-background: oklch(70% 0 0);
  }
}

@media (prefers-color-scheme: light) {
  @theme {
    --color-foreground: oklch(0% 0 0);
    --color-background: oklch(100% 0 0);
  }
} */


@theme {
  /* indigo as primary */
  --color-primary-50: oklch(96.2% 0.018 272.314);
  --color-primary-100: oklch(93.0% 0.034 272.788);
  --color-primary-200: oklch(87.0% 0.065 274.039);
  --color-primary-300: oklch(78.5% 0.115 274.713);
  --color-primary-400: oklch(67.3% 0.182 276.935);
  --color-primary-500: oklch(58.5% 0.233 277.117);
  --color-primary-600: oklch(51.1% 0.262 276.966);
  --color-primary-700: oklch(45.7% 0.240 277.023);
  --color-primary-800: oklch(39.8% 0.195 277.366);
  --color-primary-900: oklch(35.9% 0.144 278.697);
  --color-primary-950: oklch(25.7% 0.090 281.288);

  /* --color-foreground: oklch(0% 0 0);
  --color-background: oklch(100% 0 0); */
}